/* styles.css */

/* Basic styling */
body {
    background-image: url('../static/images/bg.png'); /* Adjust the path if necessary */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Center text content horizontally within the <ul> */
}

ul li {
    margin-bottom: 10px;
    opacity: 0; /* Initially hide elements */
    transform: translateY(20px); /* Slide down animation effect */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animation class */
.animate {
    opacity: 1;
    transform: translateY(0);
    animation: slide 25s ease-in-out infinite; /* Updated duration */
}

@keyframes slide {
    0% { transform: translateY(0); opacity: 0; }
    50% { transform: translateY(-10px); opacity: 1; }
    100% { transform: translateY(0); opacity: 0; }
}
